[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/pack/git-plugins/start/CamelCaseMotion"]
	path = .vim/pack/git-plugins/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
[submodule ".vim/pack/git-plugins/start/repeat"]
	path = .vim/pack/git-plugins/start/repeat
	url = https://tpope.io/vim/repeat.git
[submodule ".vim/pack/git-plugins/start/vim-clang-format"]
	path = .vim/pack/git-plugins/start/vim-clang-format
	url = https://github.com/rhysd/vim-clang-format.git
[submodule ".vim/pack/git-plugins/start/vim-surround"]
	path = .vim/pack/git-plugins/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/pack/git-plugins/start/ReplaceWithRegister"]
	path = .vim/pack/git-plugins/start/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule ".vim/pack/git-plugins/start/tabular"]
	path = .vim/pack/git-plugins/start/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/pack/git-plugins/start/vim-tmux-navigator"]
	path = .vim/pack/git-plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/git-plugins/start/ale"]
	path = .vim/pack/git-plugins/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/git-plugins/start/tagman.vim"]
	path = .vim/pack/git-plugins/start/tagman.vim
	url = https://github.com/grassdog/tagman.vim.git
[submodule ".vim/pack/git-plugins/start/vim-highlightedyank"]
	path = .vim/pack/git-plugins/start/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule ".vim/pack/git-plugins/start/vim-fugitive"]
	path = .vim/pack/git-plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/git-plugins/start/targets.vim"]
	path = .vim/pack/git-plugins/start/targets.vim
	url = https://github.com/wellle/targets.vim.git
[submodule ".vim/pack/git-plugins/start/vim-prettier"]
	path = .vim/pack/git-plugins/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule ".vim/pack/git-plugins/start/fzf.vim"]
	path = .vim/pack/git-plugins/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/pack/git-plugins/start/typescript-vim"]
	path = .vim/pack/git-plugins/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/pack/git-plugins/start/vim-razor"]
	path = .vim/pack/git-plugins/start/vim-razor
	url = https://github.com/adamclerk/vim-razor
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
